# Ex1 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
#%pip install --user numpy pandas
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [38]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(url, sep="\t")
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [3]:
df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1

len(df)
len(df.head(7))

7

In [5]:
# Solution 2

df.info()
df.shape[1]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

5

### Step 6. What is the number of columns in the dataset?

In [20]:
# Equivalent ways to count the number of columns
# A
print(df.shape[1])
# B
len(df.columns.to_list())

5

5

### Step 7. Print the name of all the columns.

In [7]:
df.columns.to_list()

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [24]:
df.index
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

### Step 9. Which was the most-ordered item?

In [33]:
c = df.groupby(by="item_name")
c = c.sum()
c = c.sort_values(by="quantity", ascending=False)
c[["quantity"]].head(1)
# c.quantity.max()

c[["quantity"]].max()

quantity    761
dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [35]:
c = df.groupby(by="item_name")
c = c.sum()
c[["quantity", "item_price"]].max()
# c["quantity"].max()

quantity       761.00
item_price    7342.73
dtype: float64

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
c = df.groupby(by="choice_description").sum()
c.sort_values(by="quantity", ascending=False).head(1)[["quantity"]]

                    quantity
choice_description
[Diet Coke]              159

### Step 12. How many items were ordered in total?

In [36]:
df.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [39]:
print(df["item_price"].dtype)
df.item_price # df["item_price"]
#df[["item_price"]]

object

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [41]:
df["item_price"]
c = df.item_price.apply(lambda x: float(x[1:]))
df.item_price = c

#### Step 13.c. Check the item price type

In [43]:
df.item_price.dtype
df.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

### Step 14. How much was the revenue for the period in the dataset?

In [44]:
revenue = df.item_price * df.quantity
print(revenue)
revenue.sum()

0        2.39
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Length: 4622, dtype: float64

39237.02

### Step 15. How many orders were made in the period?

In [50]:
df.order_id.drop_duplicates().count()
# df.order_id.max()

1834

### Step 16. What is the average revenue amount per order?

In [58]:
# Solution 1

df["revenue"] = df.item_price * df.quantity
df.groupby(by="order_id").sum().revenue.mean()
#df.head(5)

21.39423118865867

In [18]:
# Solution 2

### Step 17. How many different items are sold?

In [63]:
df.head(10)
df.item_name.drop_duplicates().count()

50

In [64]:
len(df.item_name.drop_duplicates())

50