In [130]:
import numpy as np
import pandas as pd

In [131]:
df = pd.read_csv("data.csv")

In [132]:
df

    Home         Away  GoalHome  GoalAway
0  Genoa       Padova         1         0
1  Inter    Sampdoria         2         1
2  Milan        Lazio         3         1
3   Roma     Juventus         3         3
4  Lecce  Salernitana         1         1

In [133]:
df["WinHome"] = df.GoalHome > df.GoalAway
df["WinAway"] = df.GoalHome < df.GoalAway
df["Draw"] = df.GoalHome == df.GoalAway

In [134]:
df["PointHome"] = df.WinHome * 3 + df.Draw * 1
df["PointAway"] = df.WinAway * 3 + df.Draw * 1

In [135]:
df

,Home,Away,GoalHome,GoalAway,WinHome,WinAway,Draw,PointHome,PointAway
0,Genoa,Padova,1,0,True,False,False,3,0
1,Inter,Sampdoria,2,1,True,False,False,3,0
2,Milan,Lazio,3,1,True,False,False,3,0
3,Roma,Juventus,3,3,False,False,True,1,1
4,Lecce,Salernitana,1,1,False,False,True,1,1

In [136]:
h = df.groupby(by="Home").sum().PointHome
h

Home
Genoa    3
Inter    3
Lecce    1
Milan    3
Roma     1
Name: PointHome, dtype: int64

In [137]:
a = df.groupby(by="Away").sum().PointAway
a

Away
Juventus       1
Lazio          0
Padova         0
Salernitana    1
Sampdoria      0
Name: PointAway, dtype: int64

In [138]:
ranking = pd.concat([a, h]).groupby(level=0).sum().sort_values(ascending=False)
ranking = pd.DataFrame(ranking, columns=["Points"])
print(ranking)

             Points
Genoa             3
Inter             3
Milan             3
Juventus          1
Lecce             1
Roma              1
Salernitana       1
Lazio             0
Padova            0
Sampdoria         0

In [139]:
# Aggiungere una colonna con la differenza reti al dataframe ranking

df["GoalDiff"] = df.GoalHome - df.GoalAway
h = df.groupby(by="Home").GoalDiff.sum()
a = -df.groupby(by="Away").GoalDiff.sum()
goal_diff = pd.DataFrame(pd.concat([h, a]).groupby(level=0).sum(), columns=["GoalDiff"])
ranking = ranking.join(goal_diff)

In [140]:
ranking

             Points  GoalDiff
Genoa             3         1
Inter             3         1
Milan             3         2
Juventus          1         0
Lecce             1         0
Roma              1         0
Salernitana       1         0
Lazio             0        -2
Padova            0        -1
Sampdoria         0        -1

In [ ]:
# Aggiungere 3 colonne a ranking con il numero di vittorie, pareggi e sconfitte
df.groupby(by="Home")